<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ApplicationConfiguration -->
    <add key="InputPath" value="|BaseDirectory|/Input" />
    <add key="OutputPath" value="|BaseDirectory|/Output" />
    <add key="ApiCode" value="1f45bb59-f811-4b59-8401-476dcc5310b6" />
    <add key="GetItemCode" value="026" />
    <add key="ParentId" value=""/>
    <add key="Subject" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>